body{
    font-family: calibri, sans-serif;
}
/*concernant les éléments du menu*/
.lien{
    ;
}
nav{
    background: #191919;
    font-size: 17px;
    text-decoration: none;
    height: 300px;
    text-align: center;
    transform: ;
}